@charset "UTF-8";
* {
  -webkit-overflow-scrolling: touch;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  text-align: left;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 14px/24px 'Microsoft YaHei', arial, tahoma, \5b8b\4f53, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td {
  margin: 0;
  padding: 0;
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

table, fieldset, img, a img {
  border: 0;
}

ul, ol, li, dl, dd, dt {
  list-style: none outside none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

em, strong, th {
  font-style: normal;
  font-weight: normal;
}

b, strong {
  font-weight: 600;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

img {
  width: auto \9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

a, a:link, a:visited {
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

a, a:focus {
  outline: 0;
}

input, select, form img, button {
  vertical-align: middle;
}

iframe {
  overflow: hidden;
}

small {
  font-size: 80%;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  color: #000;
  background: #ff0;
}

small {
  font-size: 80%;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

img {
  vertical-align: middle;
}

.fl {
  float: left;
  display: inline;
}

.fr {
  float: right;
  display: inline;
}

.LRwarpFl {
  float: left;
  display: inline;
}

.LRwarpFr {
  float: right;
  display: inline;
}

.pcfl, .ModuleFl {
  float: left;
  display: inline;
}

.pcfr, .ModuleFr {
  float: right;
  display: inline;
}

.mobfl {
  float: left;
  display: inline;
}

.mobfr {
  float: right;
  display: inline;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

* html .clearfix {
  zoom: 1;
}

.blank, .blank5, .blank1, .blank10, .blank20, .blank30 {
  clear: both;
  display: block;
  font-size: 1px;
  visibility: hidden;
  height: -1px;
  line-height: 0;
}

.blank5 {
  height: 5px;
}

.blank10 {
  height: 10px;
}

.blank20 {
  height: 20px;
}

.blank30 {
  height: 30px;
}

.blank1 {
  height: 1px;
}